.selectedMarker {
  &__container {
    bottom: 0;
    z-index: 500;
    position: absolute;
    width: 400px;
    height: 80vh;
    overflow-y: scroll;
    // height: 700px;
    box-shadow: 0 0 1rem 0 rgb(0, 0, 0, 0.2);
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(2px);
    margin: 10px 0 20px 20px;
  }
  &__head {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    background-color: #5a9449;

    h2 {
      color: white;
      font-size: 34px;
      font-weight: 500;
      margin-top: 10px;
    }
  }
  &__img {
    margin-top: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 160px;
    height: 150px;
  }
  &__closeMenu {
    position: absolute;
    right: 0;
    top: 0;
    margin: 5px 5px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
  }
  &__main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  &__mainFirst {
    display: flex;
    padding: 35px 25px 35px 25px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(2px);
    border-radius: 20px;
    width: 96%;

    h3 {
      font-weight: 500;
      font-size: 26px;
    }

    p {
      margin-top: 20px;
      font-weight: 500;
    }
  }
  &__stars {
    font-size: 30px;
    opacity: 0.7;

    .checked {
      color: gold;
    }
  }
  &__date {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    p {
      font-size: 16px;
      font-weight: 500;
    }
  }
  &__logo {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50px;
    height: 50px;
  }
  &__rate {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__about {
    padding: 30px;
    h3 {
      font-weight: 500;
      font-size: 26px;
    }
    p {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
    }
  }
  &__buttonAccess {
    color: white;
    border: none;
    height: 50px;
    width: 230px;
    font-size: 22px;
    background-color: #5a9449;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 15px;
    cursor: pointer;
    outline-width: 0;
    i {
      margin-top: 5px;
    }
  }
  &__rateMobile {
    display: none;
  }
  &__dateMobile{
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .selectedMarker {
    &__container {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
    }
    &__head {
      background-color: transparent;
      align-items: flex-start;

      h2 {
        color: #5a9449;
        padding: 10px 0 0 30px;
      }
    }
    &__img {
      display: none;
    }
    &__rate {
      background-color: transparent;
    }
    &__rateDesktop {
      display: none;
    }
    &__rateMobile {
      display: flex;
    }
    &__dateDesktop {
      display: none;
    }
    &__dateMobile {
      display: flex;
    }
  }
}